pip==8.1.2
bumpversion==0.5.3
wheel==0.29.0
watchdog==0.8.3
flake8==2.6.0
tox==2.3.1
coverage==4.1
Sphinx==1.4.8
cryptography==1.7
PyYAML==3.11
pytest==2.9.2
appdirs==1.4.0
boto3==1.4.4
botocore==1.5.7
DateTime==4.1.1
docutils==0.13.1
jmespath==0.9.1
oauthlib==2.0.1
packaging==16.8
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
requests==2.13.0
requests-oauthlib==0.7.0
s3transfer==0.1.10
six==1.10.0
TwitterAPI==2.4.3
zope.interface==4.3.3